@model IEnumerable<WebTinTucFinal.Models.BAIDANG>

@{
    ViewBag.Title = "Baiviet";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="baiviet">
    @foreach (var item in Model)
    {
        <h3 class="post_titile post_titile12"> @item.TenBaiDang </h3>
        <div class="single_page_content">

            <div class="post_commentbox">
                <span>
                    <i class="fa fa-calendar"></i>Ngày đăng: @Convert.ToDateTime(@item.NgayDang.ToString()).ToShortDateString()
                </span>
            </div>
            <h4> @item.TieuDe</h4>

            @Html.Raw(@item.NoiDung)

        </div>
    }
</div>