
@model UserViewModel
@{
    ViewBag.Title = "Đăng ký";
}
<div class="container">
    <div class="row info">
        <div class="title">Đăng ký tài khoản</div>
        @using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post, new { @class = "my-form" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken() 
            @Html.LabelFor(e => e.Uname)
            @Html.ValidationMessageFor(e => e.Uname)
            @Html.TextBoxFor(e => e.Uname)
            @Html.LabelFor(e => e.Upass)
            @Html.ValidationMessageFor(e => e.Upass)
            @Html.PasswordFor(e => e.Upass)
            @Html.LabelFor(e => e.Upass)
            @Html.PasswordFor(e => e.Rpass)
            @Html.ValidationMessageFor(e => e.Rpass)
            <button>Lưu thay đổi</button>
        }
    </div>
</div>

